<div class="row">
    <div style="padding:2% 5%;" *ngIf="selection">
        <div class="w3-container w3-center">
            <div class="w3-card-4" style="width:auto">
              <img src="{{selection.image_url}}" alt="{{selection.name}}" style="width:100%;height: auto;">
              <div class="w3-container" style="text-align: left;">
                <p>{{selection.name}}</p>
                <p style="opacity:0.6">Temperature Max:<span style="color: red;">{{selection.temp_max}}</span></p>
                <p style="opacity:0.6">Temperature Min:<span style="color: green;">{{selection.temp_min}}</span></p>
                <p style="opacity:0.6">feels_like:<span style="color:indigo;">{{selection.feels_like}}</span></p>
                <p style="opacity:0.6">Description : <span style="color: blue;">{{selection.description}}</span></p>
              </div>
            </div>
          </div>
    </div>

    <div *ngIf="!selection">
         *No Country Selected Yet
    </div> 
</div>